<!-- <hello name="{{ name }}"  >
</hello><br/>
<input type="text" [(ngModel)]="txt"  (ngModelChange)="getcount()" />
<p [innerText]="txt" applystyle [Dcolor]="'green'" [Acolor]="'grey'"></p>
<p>The content count is : {{count}}</p>
<p>
  Start editing to see some magic happen :)
</p>
<p *ngFor="let n of nums">
  {{n}}</p>
<input type="button" (click)="showeven()" value="Show only even"/> -->
<!-- <app-heroes></app-heroes> -->
<!-- <nav>
  <a routerLink="/heroes">Heroes</a>
</nav> -->
<app-header></app-header>